.full-width {
  width: 100%;
}

.flex-right {
  margin-left: auto;
}

.spacing-x {
  > :not(:last-child) {
    margin-bottom: 16px;
  }
}

.spacing-xs {
  > :not(:last-child) {
    margin-bottom: 8px;
  }
}
